{% load i18n %}

<div class="col-span-12 lg:col-span-6" id="setting-default-expire-days">
    <form
        action="{% url 'system-preferences-view' %}"
        method="post"
        hx-post="{% url 'system-preferences-view' %}"
        hx-target="#settingsContainer"
        hx-select="#settingsContainer"
        hx-swap="outerHTML show:none"
    >
        {% csrf_token %}
        <div class="flex space-x-2 pb-1">
            <label>Số ngày hiển thị bản tin</label>
            <span class="oh-info mr-2" title="Đặt số ngày hiển thị mặc định cho bản tin"> </span>
        </div>
        <p class="text-xs text-gray-500 mt-1 pb-2">
            Bản tin không có ngày kết thúc sẽ tự ẩn sau số ngày này.
        </p>
        <div class="flex gap-2">
            <input
                type="number"
                name="days"
                placeholder="Số ngày"
                value="{{form.instance.days}}"
                id="id_days"
            >
            {% if perms.base.change_announcementexpire or request.user.is_superuser %}
                <button class="btn" type="submit">Lưu</button>
            {% endif %}
        </div>
    </form>
</div>
