{% load i18n %}
<div class="oh-general__tab-target oh-profile-section mb-4 d-none" id="bank">
    <div class="oh-profile-section__card">
        <form action="" method="post">

            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans "Bank Name" %}</label>
                        {{ bank_form.bank_name }}
                        {{ bank_form.bank_name.errors }}
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans "Account Number" %}</label>
                        {{ bank_form.account_number }}
                        {{ bank_form.account_number.errors }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div class="oh-input-group">
                        <label class="oh-label">{% trans "Branch" %}</label>
                        {{ bank_form.branch }}
                        {{ bank_form.branch.errors }}
                    </div>
                </div>
                </div>
            <hr class="mt-5 mb-3">
            <div class="w-100 d-flex align-items-center justify-content-end">
                <button type="submit" class="oh-btn oh-btn--secondary oh-btn--w-100-resp">
                    {% trans "Save" %}
                </button>
            </div>
        </form>
    </div>
</div>
</div>
