{% load i18n static basefilters %}
{% if notifications %}
    <ul class="list-checked text-sm h-60 overflow-hidden overflow-y-auto">
        {% for notification in notifications %}
            <li>
                {% if LANGUAGE_CODE == 'ar' %}
                    <a
                        href="{{notification.data.redirect}}#"
                        class="hover:underline"
                        onclick="markNotificationAndRedirect(this)"
                        id="notificationItem{{notification.id}}"
                        data-id="{{notification.id}}"
                    >{{ notification.data.verb_ar }}</a>
                {% elif LANGUAGE_CODE == 'de' %}
                    <a
                        href="{{notification.data.redirect}}#"
                        class="hover:underline"
                        onclick="markNotificationAndRedirect(this)"
                        id="notificationItem{{notification.id}}"
                        data-id="{{notification.id}}"
                    >{{ notification.data.verb_de }}</a>
                {% elif LANGUAGE_CODE == 'fr' %}
                    <a
                        href="{{notification.data.redirect}}#"
                        class="hover:underline"
                        onclick="markNotificationAndRedirect(this)"
                        id="notificationItem{{notification.id}}"
                        data-id="{{notification.id}}"
                    >{{ notification.data.verb_fr }}</a>
                {% elif LANGUAGE_CODE == 'es' %}
                    <a
                        href="{{notification.data.redirect}}#"
                        class="hover:underline"
                        onclick="markNotificationAndRedirect(this)"
                        id="notificationItem{{notification.id}}"
                        data-id="{{notification.id}}"
                    >{{ notification.data.verb_es }}</a>
                {% else %}
                    <a
                        href="{{notification.data.redirect}}#"
                        class="hover:underline"
                        onclick="markNotificationAndRedirect(this)"
                        id="notificationItem{{notification.id}}"
                        data-id="{{notification.id}}"
                    >{{ notification.verb|notification_text_vi }}</a>
                {% endif %}
                <br>
                <p class="text-xs text-[#777777] mt-1">
                    {{ notification.timestamp|relative_time_vi }} · bởi
                    {% if notification.actor.employee_first_name %}
                        {{ notification.actor.get_full_name }}
                    {% else %}
                        {% if notification.data.label %}
                            {{ notification.data.label }}
                        {% else %}
                            {% trans "Anonymous" %}
                        {% endif %}
                    {% endif %}
                </p>
            </li>
        {% endfor %}
    </ul>
    <script>
        $(document).ready(function () {
            $(".notification-item").on("click", function (event) {
                event.preventDefault();
            });
        });
    </script>
{% else %}
    <div class="opacity-30">
        <img
            src="{% static '/joydigi_theme/assets/img/icons/notification.svg' %}"
            alt=""
            width="40"
            class="mx-auto mb-3"
        >
        <h5 class="text-center font-semibold mb-1">Bạn đã xem hết thông báo!</h5>
        <p class="text-center text-sm">Hiện tại bạn không có thông báo mới.</p>
    </div>
{% endif %}
